#board {
    margin: 20px;
    border: 1px solid #000;
    position: relative;
}

#ball {
    display: none;
    background-color: #000;
    position: absolute;
    top: -300px;
}

#player1 {
    display: none;
    background-color: #000;
    position: absolute;
    top: -300px;
}

#player2 {
    display: none;
    background-color: #000;
    position: absolute;
    top: -300px;
}